{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <h2 class="mb-4">
        My Cart
    </h2>

    <table class="table table-bordered">

        <thead>

            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>

        </thead>

        <tbody>

            {% for item in cart_items %}

            <tr>

                <td>
                    {{ item.product.name }}
                </td>

                <td>
                    ₹{{ item.product.price }}
                </td>

                <td>
                    {{ item.quantity }}
                </td>

                <td>
                    ₹{% widthratio item.product.price 1 item.quantity %}
                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

    <div class="text-end">

        <h3>
            Total: ₹{{ total }}
        </h3>

    </div>

</div>

{% endblock %}